<div class="container">
<h1>Editing borrower</h1>

<%= render 'form' %>

<%= link_to 'Show', @borrower, :class => "btn btn-primary btn-lg" %> |
<%= link_to 'Back', categories_path, :class => "btn btn-primary btn-lg" %>
</div>
