<div id="item-detail-parent" hidden class="col-sm-6 col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 id="item-detail-header" class="panel-title">
        Item Detail
      </h3>
      <ul>
    </div>
    <div class="panel-body">
      <p id="item-detail-body">Item detail goes here after it is clicked from the menu on the left</p>
    </div>
  </div>
</div>