<div id="item-detail-parent" hidden class="col-sm-6 col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 id="item-detail-header" class="panel-title"></h3>
      <ul>
    </div>
    <div class="panel-body">
      <h4>Description</h4>
      <p id="item-description"></p>
      <h4 id="item-borrower-header"></h4>
      <p id="item-borrower"></p>
      <p id="item-nickname"></p>
      <p id="item-email"></p>
      <p id="item-phone"></p>
      <h4 id="item-date-header"></h4>
      <p id="item-date"></p>
    </div>
  </div>
</div>