<div class="container">
  <h1>Editing category</h1>

  <%= render 'form' %>

  <br/>

  <%= link_to 'Show', @category, :class => "btn btn-primary btn-lg"  %>
  <%= link_to 'Back', categories_path, :class => "btn btn-primary btn-lg"  %>
</div>
